.footer {
  height: 60px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.508);
  background-color: #dcf0e7;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: calc(100% - 360px);
  left: 350px;
  bottom: 0;
  z-index: 998;
  transition: all 0.3s ease-in-out;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: var(--text-color);
      margin: 0;
      font-size: 14px;
    }

    nav {
      margin-top: 10px;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;

        li {
          a {
            color: var(--link-color);
            text-decoration: none;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    width: calc(93% - 300px);
    left: 350px;
  }

  @media (max-width: 992px) {
    width: calc(93% - 300px);
    left: 350px;
  }

  @media (max-width: 768px) {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
    padding: 10px;

    .footer-content {
      flex-direction: column;
      align-items: center;
      width: 100%;

      nav {
        margin-top: 0;

        ul {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  @media (max-width: 576px) {
    height: auto;
    padding: 10px;

    .footer-content {
      flex-direction: column;
      align-items: center;

      nav {
        ul {
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
