* {
  padding: 0;
  background: border-box;
  box-sizing: border-box;
  margin: 0;
}

.sidebar-nav {
  width: 330px;
  height: 9.5vh;
  position: fixed;
  transition: left 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

  .web-name {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: var(--text-color);
  }

  .sidebar-info {
    width: 330px;
    height: calc(100vh - 80px);
    position: fixed;
    left: 0;
    top: 80px;
    transition: width 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

    .note-list {
      list-style: none;
      padding: 20px;
      display: block;

      li {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        color: #333;
        cursor: pointer;
      }
    }
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;
  display: none;
}

.sidebar-nav.show + .sidebar-overlay {
  display: block;
}

body.sidebar-open {
  overflow: hidden;
}

@media (max-width: 768px) {
  .sidebar-nav {
    display: none;
    overflow: hidden;
  }
  .sidebar-nav,
  .sidebar-nav .sidebar-info {
    height: calc(80vh - 60px);

    width: 100%;
    top: 30vh;
  }
  .sidebar-nav.show {
    display: block;
    width: 100%;
    top: 20vh;
    right: 0;
    box-shadow: 0 0 80px rgb(0, 0, 0);
  }

  .main-section {
    margin-left: 0;
  }

  .sidebar-info {
    height: calc(70vh - 30px);
    overflow-y: auto;
  }

  .sidebar-info .note-list {
    display: block;
  }

  .sidebar-overlay {
    display: none;
  }

  .sidebar-nav.show + .sidebar-overlay {
    display: block;
  }

  body.sidebar-open {
    overflow: hidden;
  }
}
.sidebar-info::-webkit-scrollbar {
  width: 2px;
}
.sidebar-info::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
}
