.sidebar-nav {
  width: 330px;
  height: 9.5vh;
  position: fixed;
  transition: left 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

  .web-name {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: var(--text-color);
  }

  .sidebar-info {
    width: 330px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    transition: width 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

    .note-list {
      list-style: none;
      padding: 20px;
      display: block; /* Ensure the list is always visible */

      li {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        color: #333;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar-nav {
    display: none;
  }
  .sidebar-nav,
  .sidebar-nav .sidebar-info {
    width: 100%;
    top: 30vh;
  }
  .sidebar-nav.show {
    display: block;
    width: 100%;
    top: 20vh;
    right: 0;
    box-shadow: 0 0 80px rgb(0, 0, 0);
  }

  .main-section {
    margin-left: 0;
  }

  .sidebar-info .note-list {
    display: block; /* Ensure visibility on smaller screens */
  }
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
}
