.sidebar-nav {
  width: 330px;
  height: 9.5vh;
  position: fixed;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

  .web-name {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: var(--text-color);
  }

  .sidebar-info {
    width: 330px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    transition: width 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

    .note-list {
      list-style: none;
      padding: 20px;

      li {
        text-align: center;
        padding: 14px;
        border-bottom: 1px solid #ccc;
        color: #555;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar-nav,
  .sidebar-nav .sidebar-info {
    width: 100%;
    top: 30vh;
  }
  .sidebar-nav {
    top: 20vh;
  }

  .main-section {
    margin-left: 0;
  }
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
}
/*.sidebar-nav {
  position: fixed;
  top: 0;
  left: -300px;  // Sidebar is off-screen when hidden
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: white;
  transition: left 0.3s ease-in-out;  // Smooth animation
}

.sidebar-nav.show {
  left: 0;  // Sidebar slides into view
}

.sidebar-nav.hide {
  left: -300px;  // Sidebar slides out
}

.sidebar-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; // Ensures button is always on top
}
*/
