.sidebar-nav {
  width: 330px;
  height: 9.5vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

  .web-name {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: var(--text-color);
  }

  .sidebar {
    width: 330px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 80px;
    transition: width 0.3s ease-in-out;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal overflow */
    z-index: 999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1300px rgba(0, 0, 0, 0), 3px 0 5px var(--shadow-color);

    .note-list {
      list-style: none;
      padding: 20px;

      li {
        text-align: center;
        padding: 14px;
        border-bottom: 1px solid #ccc;
        color: #555;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .sidebar-nav {
    display: none;
  }

  .main-section {
    margin-left: 0;
  }
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  border-radius: 10px;
}
